* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0c0c0c;
}

.container-fluid {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  width: 350px;
  height: 350px;
  background: url("https://i.ibb.co/HF5hMjf/Clock.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 98;
}

.clock-container::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background: #3498db;
  border-radius: 50%;
  z-index: 99;
}

.hour-hand-container,
.minute-hand-container,
.second-hand-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour-hand-container .hour-hand {
  width: 160px;
  height: 160px;
  z-index: 7;
}

.minute-hand-container .minute-hand {
  width: 190px;
  height: 190px;
  z-index: 8;
}

.second-hand-container .second-hand {
  width: 230px;
  height: 230px;
  z-index: 9;
}

.hour-hand,
.minute-hand,
.second-hand {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hour-hand::before {
  content: "";
  position: absolute;
  width: 1px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 50px solid #e95949;
}

.hour-hand::after {
  content: "";
  position: absolute;
  width: 3px;
  top: 49px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 30px solid #e95949;
}

.minute-hand::before {
  content: "";
  position: absolute;
  width: 1px;
  top: -15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 65px solid #fff;
}

.minute-hand::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 49px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 45px solid #fff;
}

.second-hand::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 3px;
  background: #3498db;
}

.second-hand::after {
  content: "";
  position: absolute;
  height: 35px;
  width: 7px;
  background: #3498db;
  top: 135px;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .clock-container {
    width: 250px;
    height: 250px;
    border: 4px solid #fff;
  }
  .clock-container::before {
    width: 10px;
    height: 10px;
  }
  .clock-container::after {
    width: 6px;
    height: 6px;
  }
  .hour-hand-container .hour-hand {
    width: 110px;
    height: 110px;
  }
  .minute-hand-container .minute-hand {
    width: 130px;
    height: 130px;
  }
  .second-hand-container .second-hand {
    width: 165px;
    height: 165px;
  }
  .hour-hand::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 35px solid #e95949;
  }
  .hour-hand::after {
    width: 1px;
    top: 34px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 23px solid #e95949;
  }
  .minute-hand::before {
    width: 0.05rem;
    top: -10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 45px solid #fff;
  }
  .minute-hand::after {
    width: 0.05rem;
    top: 34px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 33px solid #fff;
  }
  .second-hand::before {
    height: 110px;
    width: 2px;
  }
  .second-hand::after {
    height: 20px;
    width: 5px;
    top: 95px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 300px) {
  .clock-container {
    width: 140px;
    height: 140px;
    border: 3px solid #fff;
  }
  .clock-container::before {
    width: 8px;
    height: 8px;
  }
  .clock-container::after {
    width: 5px;
    height: 5px;
  }
  .hour-hand-container .hour-hand {
    width: 60px;
    height: 60px;
  }
  .minute-hand-container .minute-hand {
    width: 70px;
    height: 70px;
  }
  .second-hand-container .second-hand {
    width: 90px;
    height: 90px;
  }
  .hour-hand::before {
    width: 0.05rem;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 17px solid #e95949;
  }
  .hour-hand::after {
    width: 0.05rem;
    top: 16px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 16px solid #e95949;
  }
  .minute-hand::before {
    width: 0.05rem;
    top: -5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 25px solid #fff;
  }
  .minute-hand::after {
    width: 0.05rem;
    top: 19px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 15px solid #fff;
  }
  .second-hand::before {
    height: 60px;
    width: 0.15rem;
  }
  .second-hand::after {
    height: 12px;
    width: 3px;
    top: 55px;
    border-radius: 5px;
  }
}

@media (orientation: landscape) and (max-width: 500px) {
  .container-fluid {
    min-height: 100vmax;
  }
}
